doctype html
html(lang="kr")
    head
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        title #{pageTitle} | Wetube
    body 
        main
            block content
            button send
            include partials/footer.pug