extends base.pug

block content 
    h4 Upated Video
    form(method="POST")
        input(name="title" placeholder="Video TItle", value=video.title, required)
        input(name="description", placeholder="Description", type="text",value=video.description, minlength=20 )
        input(required, name="hashtags", placeholder="Hashtags, separated by comma.", value=video.hashtags.join(), type="text" )
        input(value="Save", type="submit")