extends base

block content
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(name="title", placeholder="Title", type="text", maxlength=80 )
        input(name="description", placeholder="Description", type="text", minlength=20 )
        input(required, name="hashtags", placeholder="Hashtags, separated by comma.", type="text" )
        input(type="submit", value="Upload Video")